<header>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/logo.png" width="30" height="30" alt="" />
      {{ title }}
    </a>

    <a class="navbar-brand" routerLink="ponies">Liste des poneys</a>
    <a class="navbar-brand" routerLink="races">Liste des courses</a>
    <a class="navbar-brand" routerLink="add-pony">Ajouter un poney</a>
    <a class="navbar-brand" href="#">Ajouter un poney bis</a>
    <a class="navbar-brand" routerLink="add-race">Ajouter une courses</a>
  </nav>
  <h1 class="fs-3"></h1>
</header>
